<div id = 'highscores-screen'>
	<h1 class='game-name' style="text-align: center">HiGhScOrEs</h1>

	<div id="result" class="highscores-text"></div>

	<div style="text-align: center">
		<button id='replay-button' class='game-button'>Replay</button>
		<button id='exit-button' class='game-button'>Exit</button>
		<br><br>
		<button id='clear-scores' class='game-button'>Clear Highscores</button>
	</div>

	<script src='js/url_helper.js'></script>
	<script>
	$(document).ready(() => {
		hashCode = function(s){
			return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);
		}

		function replayListener() {
			window.open(`{{ api_location }}/options`,'_self');
		}

		function exitListener(){
			window.open(`https://hunter-martin.com/`,'_self');
		}

		function clearListener(){
			clearStorage();
		}

		function saveScore(){
			myName = getUrlVars()['username'];
			myScore = Number(getUrlVars()['score']);
			myHash = getUrlVars()['hash'];
			hashCheck = hashCode(myName+myScore);
			if(hashCheck != myHash) {
				document.getElementById("result").innerHTML = "Howdy. Do not try to cheat."
				return;
			}
			if(myName.length > 7) myName = myName.substring(0,7);
			if(typeof(Storage) !== "undefined") {
				if (localStorage.getItem("highscores")) {
					var scores = JSON.parse(localStorage.getItem("highscores"));
					scores.push({name: myName, score: myScore});
					localStorage.setItem("highscores", JSON.stringify(scores));
				} else {
					var scores = [];
					scores.push({name: myName, score: myScore});
					localStorage.setItem("highscores", JSON.stringify(scores));
				}
				var scores = JSON.parse(localStorage.getItem("highscores"));
				scores.sort(compare);
				var times = scores.length;
				if(times > 5) times = 5;
				var topFive = "";
				for(let i = 0; i < times; i++){
					topFive += (i+1) + ". " + scores[i].name + " - " + scores[i].score;
					topFive += "<br/>";
				}
				document.getElementById("result").innerHTML = topFive;
			} else {
				document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
			}
		}

		function clearStorage(){
			if(typeof(Storage) !== "undefined") {
				localStorage.clear();
				document.getElementById("result").innerHTML = "";
			}
		}

		function compare(a,b){
			if(a.score < b.score)
				return 1;
			if(a.score > b.score)
				return -1;
			return 0;
		}

		function main() {
			$('#replay-button').click(replayListener);
			$('#exit-button').click(exitListener);
			$('#clear-scores').click(clearListener);
			saveScore();
		}
		main();
	});
	</script>
</div>
