<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="views/layouts/main.css" />
    <link rel="stylesheet" type="text/css" href="libs/jquery-ui.min.css" />
    <script src='libs/jquery-3.3.1.min.js'></script>
    <script src='libs/jquery-ui.min.js'></script>
    <script src='libs/jquery.fn.sortable.min.js'></script>
    <link rel=”shortcut icon” href=”%PUBLIC_URL%/favicon.ico”>
    <title>PANCAKES</title>

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        {{!-- <h1>FUN WITH PANCAKES</h1> --}}
        <h1></h1>
    </header>

    <div id='main-content'>
        {{{ body }}}
    </div>

    <footer>
        {{!-- Created by Team 19: Let's Be Done --}}
        <h1></h1>
    </footer>
</body>
</html>
